.products-container {
  padding: 20px;
  text-align: center;
  background-color: #fcf2fb;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease;
}

.product-card.low-quantity {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.product-card.low-quantity .product-info {
  color: #721c24;
}

.low-quantity-message {
  font-size: 1.1em;
  font-weight: bold;
  color: #721c24;
  margin-top: 10px;
  background-color: #f5c6cb;
  padding: 8px;
  border-radius: 4px;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-info {
  padding: 16px;
}

.product-button {
  padding: 8px 16px;
  background-color: #dce7f7;
  color: #182e4f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.product-description {
  font-size: 0.95em;
  color: #666;
  margin-bottom: 8px;
}

.product-price,
.product-quantity {
  font-size: 1em;
  color: #333;
}

.product-price {
  font-weight: bold;
}

/* Sorting dropdown */
.sort-dropdown {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
}

.sort-dropdown label {
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.sort-dropdown select {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #edabed;
  border-radius: 4px;
  background-color: #fcf2fb;
  color: #182e4f;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Loading Screen */
.loading-message {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-top: 50px;
}

/* No products message */
.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 50px;
}

.no-products .home-card {
  cursor: pointer;
  background-color: #f4f4f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.no-products .home-card:hover {
  background-color: #e0e0e0;
}
