.profile-container {
  width: 90%;
  height: 60%;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: #edd3e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.profile-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 1.1rem;
  margin: 10px 0;
}

.profile-info strong {
  color: #4caf50;
}

.logout-button {
  width: 100%;
  padding: 12px;
  background-color: #f55d6f;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #d11f43;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.admin-panel-link {
  text-align: center;
  margin-top: 20px;
}

.admin-panel-link a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #edabed;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-panel-link a:hover {
  background-color: #dbb3db;
  color: #182e4f;
  transform: scale(1.05);
}
